:root {
  --background: rgb(240, 237, 255);
  --filler-background: rgb(195, 201, 226);
  --text: #1a1a1a;
  --accent: rgb(42, 42, 84);
}
[data-theme="dark"] {
  --background: rgb(42, 42, 84);
  --filler-background: rgb(27, 31, 45);
  --text: #f5f5f5;
  --accent: rgb(230, 229, 244);
}
div.gentle-divide{
  background-image: radial-gradient(rgb(201, 199, 244) 10%, transparent 70%);
  width: 100%;
  height: 10px;
  opacity: 0.7;
  margin: 10px 0px 0px 0px;
}
.centered-text{
  text-align: center;
}
.flex{
  display: flex;
}
#content-section{
  width: 500px;
  max-width: 85%;
  padding-top: 50px;
  flex-shrink: 0;
}
.buffer-left{
  flex-grow: 3;
  background-image: linear-gradient(to left, var(--background), var(--filler-background));
}
.buffer-right{
  flex-grow: 1;
  background-image: linear-gradient(to right, var(--background), var(--filler-background));
}
.height-100{
  height: 100%;
  min-height: 100vh;
}
.gentle-pulse{
  animation: gentle-pulse 4s infinite;
}
@keyframes gentle-pulse {
  0%, 30%, 70%, 100%{
    scale: 1;
    filter: drop-shadow(0px 0px 1px var(--accent));
  }
  50%{
    scale: 1.05;
    filter: drop-shadow(0px 0px 2px var(--accent));
  }
}
body {
  background-color: var(--background);
  color: var(--text);
  transition: color 0.5s ease;
}
header{
  width: 850px;
  max-width: 95%;
}
nav{  
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 550px) {
  nav{
    padding-top: 20px;
  }
}
main{
  min-height: 100vh;
  width: 90%;
  padding: 20px 10px;
}
footer{
  width: 850px;
  max-width: 95%;
  padding: 40px 0px 40px 0px;
  text-align: center;
}
button{
  cursor: pointer;
}
button.modeButton{
  color: var(--accent);
  border: rgba(244, 244, 244, 0);
  border-radius: 50%;
  background: radial-gradient(rgba(201, 199, 244, 0.3) 20%, rgba(201, 199, 244, 0.05) 50%);
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 999;
}
a, a:visited{
  color: var(--accent);
}
.project-section{
  padding-top: 30px;
  padding-bottom: 60px;
}
.project-section a{
  width: 100%;
  display: block;
  text-align: center;
}
.screen-group{
  position: relative;
  height: 320px;
}
.project-section div.fullscreen, .project-section div.smallscreen{
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 20px;
  background-image: linear-gradient(120deg, #222 35%, #444 40%, #222 45%);
  box-shadow: -3px 3px 5px black;
}
.project-section div.fullscreen img{
  width: 400px;
  height: auto;
  border-radius: 20px;
  border: solid black 2px;
}
.project-section div.smallscreen{
  position: absolute;
  bottom: 0px;
  right: 30px;
  transform: rotate(7deg);
}
.project-section div.smallscreen img{
  width: 160px;
  border-radius: 20px;
  border: solid black 2px;
}
@media screen and (max-width: 550px) {
  .screen-group{
    position: relative;
    height: 275px;
  }
    .project-section div.fullscreen img{
    width: 300px;
  }
  .project-section div.smallscreen img{
    width: 120px;
  }
}
@media screen and (max-width: 450px) {
  .screen-group{
    position: relative;
    height: 225px;
  }
    .project-section div.fullscreen img{
    width: 250px;
  }
  .project-section div.smallscreen img{
    width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .screen-group{
    position: relative;
    height: 200px;
  }
    .project-section div.fullscreen img{
    width: 200px;
  }
  .project-section div.smallscreen img{
    width: 80px;
  }
}